
/* Estilos Autor */

.fondo-autor{
  width:70%;
  margin: 10px auto;
}

.img-perfil {
  background-image: url("../img/yo.jpg");
  background-position: center;
  background-size: 150px 150px;
  height:150px;
  width: 150px;
  margin:0px auto;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border:3px solid #666;
  position: relative;
  top:35px;
  z-index: 4;
}



.color-fondo-autor{
background: #fac695; /* Old browsers */
background: -moz-linear-gradient(top,  #fac695 0%, #f5ab66 47%, #ef8d31 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #fac695 0%,#f5ab66 47%,#ef8d31 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #fac695 0%,#f5ab66 47%,#ef8d31 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fac695', endColorstr='#ef8d31',GradientType=0 ); /* IE6-9 */

}

.color-fondo-autor-cards{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d6f9ff+0,9ee8fa+100;Blue+3D */
background: #d6f9ff; /* Old browsers */
background: -moz-linear-gradient(top,  #d6f9ff 0%, #9ee8fa 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #d6f9ff 0%,#9ee8fa 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #d6f9ff 0%,#9ee8fa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6f9ff', endColorstr='#9ee8fa',GradientType=0 ); /* IE6-9 */

}/* Empty. Add your own CSS if you like */



/* Estilos Inicio*/


.keyboard-open .tabs{
  display:none;
  }
.keyboard-open .has-tabs{
 bottom:0;
 }

.usuario-nombre{
  width:100%;
  background-color:orange;
  font-size:3em;
  color:#666;
  margin-top: 2em;
}


.wrapInicio {
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

color:#000;
margin: 225px auto;
width:80%;
height:170px;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
box-shadow: -10px 10px 5px #888888;
-moz-box-shadow: -10px 10px 5px #888888;
-webkit-box-shadow: -10px 10px 5px #888888;

}

.wrapInicio p{
	text-align: center;
	font-size: 25px;
	font-family: 'Baloo Bhaina', cursive;
}

.fondo-inicio{
  background-image: url("../img/nature-sounds.jpg");
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.fondo-juego{
background: rgb(0,183,234); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(0,183,234,1) 0%, rgba(0,158,195,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */

}

.boton-comenzar{
	width:100%;
	margin: 10px auto;
}


/* Estilos Piano */

.cont-botones {
	margin:70px auto;
}

.button{
	margin: 20px 0;
}

.button img{
	width:250px;
	height: 100px;
}

.lluvia{
	background-color: #C0C0C0;
}

.button[disabled]{
  opacity:1;
}


/*Animacion Boton */

@-webkit-keyframes girando {
  from { -webkit-transform: rotateY(0deg);
  		transform: rotateY(0deg);    }
  to   { -webkit-transform: rotateY(-360deg);
  		transform: rotateY(-360deg); }
}

.girando {
   -webkit-animation-name: girando;
   -webkit-animation-timing-function: linear;
   -webkit-animation-iteration-count: 3;
   -webkit-animation-duration: 1s;
   animation-name: girando;
   animation-timing-function: linear;
   animation-iteration-count: 3;
   animation-duration: 1s;
}


/*Estilos Lectura*/

.oscuro  {
  background: #444;
  padding: 60px;
  }
   
#esquina  {
 background: #fff url(../img/imagen3.jpg) bottom right no-repeat;
}
 
#esquina p  {
  padding: 50px;
  margin: 0;
  height: 500px;
}

#esquina  {
 background: #fff url(../img/imagen3.jpg) bottom right no-repeat;
 }